extends layout.pug

block content

  article.portfolio-intro

    h1 I'm so excited to work with you!

    p Projets that help me play with code, grow, and learn! 


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5 #{project.project_name}

